@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.body {
  height: 100vh;
}


* {
  font-family: 'Courier New', Courier, monospace;
  transition: .2s;
}

.body {
  /* background-color: red; */
  min-height: 100vh;
}

.children {
  min-height: 100vh;
  background-image: url("/background_image.png");
  background-size: contain;
  background-position: top;
  background-repeat: repeat-y;
}

.loading-page {
  /* background-image: url("./assets/loading.gif"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: red; */
}

.footer>* {
  color: rgb(215, 247, 215);
}

ol {
  padding: 1em;
  list-style-type: disc;
}

/* className="intro" */
.paragraph {
  backdrop-filter: 3px;
  padding: 0.5rem;
  border-radius: 0.8rem;
  margin: 0.6rem;
  background-color: rgba(0, 0, 0, .5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1000px) {
  .paragraph {
    padding: 2em;
    display: block;
  }

  .paragraph>* {
    width: 100vw;
    display: inline !important;
  }
}

th {
  background-color: rgba(0, 0, 0, 0.2);
}

td {
  padding: 2em;
  background-color: rgba(0, 90, 0, 0.2);
}

.intro {
  /* background-image: url("/intro-to-dao.png"); */
}

.governance {
  /* background-image: url("/dao-governance.png"); */
  color: rgb(214, 214, 214)
}

.landing {
  background-image: url("/banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.motto {
  font-size: calc(2rem + 4vw);
}

.motto-details {
  font-size: calc(1rem + 1vw);
}