.header {
    background-color: rgba(0, 0, 0, .3);

    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    max-width: 80vw;
    margin: auto;
}

.navs {
    border-right: 2px solid rgb(71, 71, 71);
}

.navs:last-of-type {
    border-right: 0;
}

@media screen and (max-width: 900px) {

    .menu {
        display: block;
        position: fixed;
        right: 0;
        border: 1px solid rgb(170, 235, 170);

    }

    .menu:hover~.drop-nav {
        display: block;
    }

    .default-nav {
        display: none;
    }

    .drop-nav>* {
        border-bottom: 0.1px solid gray;
    }

    .drop-nav>*:last-child {
        border-bottom: 0;
    }

    .drop-nav {
        background-color: black;
        padding: 1em;
        height: 600px;
        width: 400px;
        max-width: 80vw;
        position: fixed;
        top: 0;
        right: 0;
    }

    .drop-nav:hover {
        display: block;
        /* margin: 1em; */
    }


    .drop-nav:hover~.menu {
        display: none;
    }
}