.header {
    background-color: rgba(0, 0, 0, .3);
}

.navs {
    border-right: 2px solid rgb(71, 71, 71);
}

.navs:last-of-type {
    border-right: 0;
}

@media screen and (max-width: 900px) {

    .menu {
        display: block;
        position: fixed;
        right: 0;
        border: 1px solid green;

    }

    .menu:hover~.drop-nav {
        display: block;
    }

    .default-nav {
        display: none;
    }

    .drop-nav {
        background-color: rgba(0, 100, 0, 1);
        padding: 3em;
        position: fixed;
        top: 0;
        right: 0;
    }

    .drop-nav:hover {
        display: block;
        /* margin: 1em; */
    }

    .drop-nav:hover~.menu {
        display: none;
    }
}